<launch>
	<!-- Lidar odometry param -->
	<rosparam file="$(find lio_lite)/config/params_lidar.yaml" command="load" />
    <param name = "/lio_lite/useGPS"                type = "bool"    value = "false" />
    <param name = "/lio_lite/loopClosureEnableFlag" type = "bool"    value = "false" />

    <!--- Robot State TF -->
    <include file="$(find lio_lite)/launch/include/module_robot_state_publisher.launch" />
    <!--- Run Rviz-->
    <include file="$(find lio_lite)/launch/include/module_rviz_relocalize.launch" />
    <!--- SAM -->
    <include file="$(find lio_lite)/launch/include/module_relocalize.launch" />
</launch>
